<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>	

<p>
  <strong>Content:</strong>	
	<%= comment.content %>
</p>

<p>
<i><%= link_to 'Remove', [comment.article, comment],
               method: :delete %></i>
 </p>
