<p>
	<strong>User:</strong>
	<%= comment.user.name %>
</p>	

<p>
  <strong>Commented:</strong>	
	<%= comment.body %>
</p>

<p>
<i><%= link_to 'Remove', [comment.article, comment],
               method: :delete %></i>
 </p>
