<%= form_with(model: [ @article, @article.comments.build  ]) do |form| %>
	<div class="form-group">
		<%= form.label :body %>
		<%= form.text_area :body, :class => "form-control" %>
	</div>
		
	<%= form.submit class: "btn btn-primary" %>
<% end %>
