<div class="container">
	<div class="row">
		<h1 class="col-md-12 text-center">New Article</h1>

		<%-#link to index action%>
		<div class="col-md-3 pb-3">
			<%= link_to '<< Back', articles_path, :class => "btn btn-secondary" %>
		</div>
		<div class="col-md-12">
			<%= render 'form' %>
		</div>
		
	</div>
</div>

