<h1>Hello, this is a simple blog web applicatioin.</h1>
<%=# Rails.configuration.database_configuration[Rails.env] %>
<i><%= link_to 'Go to blog', controller: 'articles' %></i>
<i><%= link_to 'New article', controller: 'articles', action: 'new' %></i>

<h1>Have a nice day!!!</h1>
