<h1>Albums</h1>
<div class="row">
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
	<div class="my-image col-md-3">
		<img src="http://i.imgur.com/0uueOOL.jpg" alt="">
	</div>
</div>
