<h1>Photos</h1>
<div class="row">
	<% @album.photos.each do |photo| %>
		<div class="my-image col-md-3">
			<img src=<%= photo.source %> class="img-thumbnail" atl="">
			<b>Creator:</b> <span class="badge badge-info"><%= photo.creator %></span></br>
			<b>View   :</b> <span class="badge badge-info"><%= photo.view %></span></br>
			<%= link_to 'Show Image', album_photo_path(@album, photo), :class => "btn btn-primary" %>
		</div>
	<% end %>			
</div>
