<h1 class="text-center">Các thành viên trong nhóm</h1>
<div class="col-md-12">
	<div class="card mb-5">
	  <img class="card-img-top img-fluid mx-auto" style="width: 50%" src="/assets/1412073.jpg" alt="1412073">
	  <div class="card-body text-center">
	  	<h4 class="card-title">1412073</h4>
	    <p class="card-text">Kiều Tài Danh</p>
	  </div>
	</div>
	<div class="card mb-5">
	  <img class="card-img-top img-fluid mx-auto" style="width: 50%" src="/assets/1412067.jpg" alt="1412067">
	  <div class="card-body text-center">
	  	<h4 class="card-title">1412067</h4>
	    <p class="card-text">Nguyễn Phú Cường</p>
	  </div>
	</div>
	<div id="map" style="height: 400px">
		
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
