<h1 class="text-center">Các thành viên trong nhóm</h1>
<div class="col-md-12">
	<div class="card mb-5">
		<img class="card-img-top img-fluid mx-auto" style="width: 50%" src="/1412073.jpg" alt="1412073">
		<div class="card-body text-center">
			<h4 class="card-title">1412073</h4>
			<p class="card-text">Kiều Tài Danh</p>
		</div>
	</div>
	<div class="card mb-5">
		<img class="card-img-top img-fluid mx-auto" style="width: 50%" src="/1412067.jpg" alt="1412067">
		<div class="card-body text-center">
			<h4 class="card-title">1412067</h4>
			<p class="card-text">Nguyễn Phú Cường</p>
		</div>
	</div>
	<div id="map" style="height: 400px">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.624969831415!2d106.68019931419322!3d10.763359262379417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1953a6e961%3A0xc77e334f1510b975!2zxJDhuqFpIGjhu41jIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4!5e0!3m2!1sen!2s!4v1507556624756" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
