@import "bootstrap";
@import "albums";

.sidebar{
	position: fixed;
    top: 59px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}
#side-menu-mobile{
	visibility: hidden;
}
#sidemenu-button{
	visibility: hidden;
}
@import "responsive";