// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.card-img-top {
	    width: 100%;
}
.card img {
	height: auto;
	width: auto;
	max-height: 50%;
	max-width: 100%;
}
.d-flex{
	width: 100%;
}
.d-flex img{
	height: auto;
	width: auto;
	max-height: 50%;
	max-width: 50%;
}
